.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.711000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.762000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.086000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.885000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.091000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.942000;font-style:normal;font-weight:normal;visibility:visible;}
.m7{transform:matrix(-0.249997,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(-0.249997,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(-0.249997,0.000000,0.000000,0.250000,0,0);}
.m5{transform:matrix(0.000000,-0.237499,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.237499,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.237499,0.250000,0.000000,0,0);}
.m4{transform:matrix(0.000000,-0.237501,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.237501,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.237501,0.250000,0.000000,0,0);}
.m3{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.mb{transform:matrix(0.237498,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237498,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237498,0.000000,0.000000,0.250000,0,0);}
.m8{transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);}
.m9{transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);}
.md{transform:matrix(0.237501,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237501,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237501,0.000000,0.000000,0.250000,0,0);}
.ma{transform:matrix(0.237503,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237503,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237503,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.245972,-0.044684,0.044685,0.245974,0,0);-ms-transform:matrix(0.245972,-0.044684,0.044685,0.245974,0,0);-webkit-transform:matrix(0.245972,-0.044684,0.044685,0.245974,0,0);}
.mc{transform:matrix(0.249996,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249996,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249996,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.249998,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249998,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249998,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m6{transform:matrix(0.250003,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250003,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250003,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-2.400000px;}
.ls3{letter-spacing:-1.885740px;}
.ls9{letter-spacing:-1.807480px;}
.ls4{letter-spacing:-1.542880px;}
.ls5{letter-spacing:-1.206940px;}
.lsa{letter-spacing:-1.129850px;}
.lsc{letter-spacing:-1.121500px;}
.ls7{letter-spacing:-1.000000px;}
.ls6{letter-spacing:-0.987500px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:3.236160px;}
.lsb{letter-spacing:5.427120px;}
.ls1{letter-spacing:8.003840px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-8.003840px;}
.ws9{word-spacing:-5.427120px;}
.ws3{word-spacing:-3.236160px;}
.ws2{word-spacing:-2.880000px;}
.ws5{word-spacing:-2.000000px;}
.ws0{word-spacing:0.000000px;}
.ws6{word-spacing:0.987500px;}
.ws7{word-spacing:1.000000px;}
.ws8{word-spacing:1.129850px;}
.ws4{word-spacing:1.542880px;}
._1{margin-left:-10.656000px;}
._2{margin-left:-4.032000px;}
._5{margin-left:-2.236800px;}
._4{margin-left:-1.117045px;}
._6{width:1.321045px;}
._3{width:2.880000px;}
._7{width:5.427120px;}
._0{width:8.003840px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(29,29,27);}
.fs4{font-size:16.180800px;}
.fs14{font-size:27.135600px;}
.fs10{font-size:28.000000px;}
.fs7{font-size:32.000000px;}
.fse{font-size:32.127600px;}
.fs8{font-size:36.000000px;}
.fsb{font-size:39.500000px;}
.fs2{font-size:40.000000px;}
.fs0{font-size:40.019200px;}
.fs15{font-size:44.860000px;}
.fs13{font-size:45.194000px;}
.fsa{font-size:48.277600px;}
.fs9{font-size:56.000000px;}
.fs6{font-size:61.715200px;}
.fs12{font-size:72.299200px;}
.fs5{font-size:75.429600px;}
.fs1{font-size:82.367622px;}
.fsd{font-size:82.614400px;}
.fsc{font-size:84.000000px;}
.fs11{font-size:96.000000px;}
.fs3{font-size:144.000000px;}
.fsf{font-size:295.947600px;}
.y0{bottom:0.000000px;}
.y42{bottom:23.500000px;}
.y51{bottom:27.713600px;}
.y50{bottom:36.113600px;}
.y4f{bottom:44.513600px;}
.y41{bottom:52.212100px;}
.y4e{bottom:52.913600px;}
.y4{bottom:58.215762px;}
.y4d{bottom:61.313600px;}
.y40{bottom:61.812100px;}
.y4c{bottom:69.713600px;}
.y3f{bottom:71.412100px;}
.y3{bottom:75.812711px;}
.y2{bottom:101.222700px;}
.y7{bottom:102.384500px;}
.y2b{bottom:129.432800px;}
.y8{bottom:135.771800px;}
.y3b{bottom:136.106700px;}
.y29{bottom:145.602800px;}
.y3a{bottom:146.105700px;}
.y28{bottom:155.601800px;}
.y39{bottom:156.104700px;}
.y27{bottom:165.600800px;}
.y26{bottom:175.599800px;}
.y38{bottom:176.102700px;}
.y25{bottom:185.598800px;}
.y37{bottom:186.101700px;}
.y24{bottom:195.597800px;}
.y36{bottom:196.100700px;}
.y58{bottom:199.083500px;}
.y23{bottom:205.596800px;}
.y22{bottom:215.595800px;}
.y35{bottom:216.098700px;}
.y21{bottom:225.594800px;}
.y34{bottom:226.097700px;}
.y20{bottom:235.593800px;}
.y33{bottom:236.096700px;}
.y1f{bottom:245.592800px;}
.y32{bottom:246.095700px;}
.y1e{bottom:255.591800px;}
.y1d{bottom:265.590800px;}
.y31{bottom:266.095700px;}
.y1c{bottom:275.589800px;}
.y30{bottom:280.095700px;}
.y5{bottom:292.718300px;}
.y45{bottom:305.275900px;}
.y6{bottom:336.707000px;}
.y2f{bottom:342.933600px;}
.y10{bottom:370.391600px;}
.y4b{bottom:386.554000px;}
.yf{bottom:387.391600px;}
.ye{bottom:404.391600px;}
.yd{bottom:421.391600px;}
.yc{bottom:438.391600px;}
.y11{bottom:464.271600px;}
.y53{bottom:480.575000px;}
.y18{bottom:503.781200px;}
.y2d{bottom:516.028300px;}
.y17{bottom:520.781200px;}
.y56{bottom:534.275466px;}
.y16{bottom:537.781200px;}
.y2e{bottom:548.086900px;}
.y15{bottom:554.781200px;}
.y55{bottom:570.950397px;}
.y14{bottom:571.781200px;}
.y13{bottom:588.781200px;}
.y12{bottom:605.781200px;}
.y54{bottom:607.083000px;}
.y1a{bottom:623.252000px;}
.y19{bottom:629.821200px;}
.y52{bottom:647.904300px;}
.y4a{bottom:668.634800px;}
.ya{bottom:671.622100px;}
.y49{bottom:680.634800px;}
.y48{bottom:692.634800px;}
.y9{bottom:699.622100px;}
.y1{bottom:701.162100px;}
.y47{bottom:704.634800px;}
.y2c{bottom:714.301300px;}
.y1b{bottom:715.538600px;}
.y46{bottom:716.634800px;}
.y43{bottom:729.384800px;}
.y44{bottom:731.716800px;}
.y2a{bottom:753.145000px;}
.y57{bottom:767.864300px;}
.yb{bottom:779.827600px;}
.y3d{bottom:792.650400px;}
.y3c{bottom:807.958500px;}
.y3e{bottom:815.416000px;}
.h6{height:11.326560px;}
.h1a{height:18.994920px;}
.h16{height:20.188000px;}
.h12{height:23.067617px;}
.ha{height:27.488000px;}
.h2{height:28.013440px;}
.hb{height:30.924000px;}
.h10{height:31.104000px;}
.he{height:33.930500px;}
.h4{height:34.360000px;}
.h9{height:34.560000px;}
.hd{height:34.663317px;}
.h1b{height:38.534740px;}
.h19{height:38.821646px;}
.hc{height:40.208000px;}
.h8{height:53.013357px;}
.h7{height:54.158453px;}
.h11{height:59.317139px;}
.hf{height:60.312000px;}
.h18{height:62.105013px;}
.h15{height:75.573000px;}
.h17{height:82.464000px;}
.h5{height:103.392000px;}
.h3{height:114.079157px;}
.h14{height:409.887426px;}
.h13{height:784.500000px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w5{width:197.488000px;}
.w2{width:571.000000px;}
.w4{width:573.000000px;}
.w3{width:573.500000px;}
.w0{width:595.276000px;}
.w1{width:595.500000px;}
.x1b{left:-391.419900px;}
.x16{left:-244.651400px;}
.x10{left:-104.390800px;}
.x11{left:-85.876200px;}
.x0{left:0.000000px;}
.x23{left:3.289500px;}
.x24{left:6.901500px;}
.x26{left:8.588500px;}
.x25{left:13.292500px;}
.x17{left:19.684600px;}
.x1a{left:22.000000px;}
.x14{left:23.320300px;}
.x1c{left:27.062500px;}
.xf{left:32.544900px;}
.xc{left:37.985400px;}
.xb{left:40.256800px;}
.xa{left:41.502900px;}
.x6{left:87.813500px;}
.x5{left:148.186000px;}
.x1d{left:189.110400px;}
.x15{left:252.202100px;}
.x22{left:297.627000px;}
.x28{left:300.832000px;}
.x27{left:319.332000px;}
.x1e{left:337.678700px;}
.x21{left:342.428700px;}
.x20{left:353.135200px;}
.x1f{left:366.055200px;}
.x29{left:384.603500px;}
.x2a{left:385.784185px;}
.xe{left:395.472200px;}
.xd{left:398.970700px;}
.x19{left:405.246600px;}
.x2c{left:448.122100px;}
.x3{left:450.175245px;}
.x2{left:458.367500px;}
.x4{left:465.175804px;}
.x2b{left:468.180700px;}
.x1{left:527.856900px;}
.x8{left:539.231300px;}
.x7{left:553.899500px;}
.x9{left:557.745900px;}
.x18{left:560.831200px;}
.x12{left:562.305800px;}
.x13{left:565.773700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-3.200000pt;}
.ls3{letter-spacing:-2.514320pt;}
.ls9{letter-spacing:-2.409973pt;}
.ls4{letter-spacing:-2.057173pt;}
.ls5{letter-spacing:-1.609253pt;}
.lsa{letter-spacing:-1.506467pt;}
.lsc{letter-spacing:-1.495333pt;}
.ls7{letter-spacing:-1.333333pt;}
.ls6{letter-spacing:-1.316667pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:4.314880pt;}
.lsb{letter-spacing:7.236160pt;}
.ls1{letter-spacing:10.671787pt;}
.ws1{word-spacing:-10.671787pt;}
.ws9{word-spacing:-7.236160pt;}
.ws3{word-spacing:-4.314880pt;}
.ws2{word-spacing:-3.840000pt;}
.ws5{word-spacing:-2.666667pt;}
.ws0{word-spacing:0.000000pt;}
.ws6{word-spacing:1.316667pt;}
.ws7{word-spacing:1.333333pt;}
.ws8{word-spacing:1.506467pt;}
.ws4{word-spacing:2.057173pt;}
._1{margin-left:-14.208000pt;}
._2{margin-left:-5.376000pt;}
._5{margin-left:-2.982400pt;}
._4{margin-left:-1.489393pt;}
._6{width:1.761393pt;}
._3{width:3.840000pt;}
._7{width:7.236160pt;}
._0{width:10.671787pt;}
.fs4{font-size:21.574400pt;}
.fs14{font-size:36.180800pt;}
.fs10{font-size:37.333333pt;}
.fs7{font-size:42.666667pt;}
.fse{font-size:42.836800pt;}
.fs8{font-size:48.000000pt;}
.fsb{font-size:52.666667pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:53.358933pt;}
.fs15{font-size:59.813333pt;}
.fs13{font-size:60.258667pt;}
.fsa{font-size:64.370133pt;}
.fs9{font-size:74.666667pt;}
.fs6{font-size:82.286933pt;}
.fs12{font-size:96.398933pt;}
.fs5{font-size:100.572800pt;}
.fs1{font-size:109.823496pt;}
.fsd{font-size:110.152533pt;}
.fsc{font-size:112.000000pt;}
.fs11{font-size:128.000000pt;}
.fs3{font-size:192.000000pt;}
.fsf{font-size:394.596800pt;}
.y0{bottom:0.000000pt;}
.y42{bottom:31.333333pt;}
.y51{bottom:36.951467pt;}
.y50{bottom:48.151467pt;}
.y4f{bottom:59.351467pt;}
.y41{bottom:69.616133pt;}
.y4e{bottom:70.551467pt;}
.y4{bottom:77.621016pt;}
.y4d{bottom:81.751467pt;}
.y40{bottom:82.416133pt;}
.y4c{bottom:92.951467pt;}
.y3f{bottom:95.216133pt;}
.y3{bottom:101.083615pt;}
.y2{bottom:134.963600pt;}
.y7{bottom:136.512667pt;}
.y2b{bottom:172.577067pt;}
.y8{bottom:181.029067pt;}
.y3b{bottom:181.475600pt;}
.y29{bottom:194.137067pt;}
.y3a{bottom:194.807600pt;}
.y28{bottom:207.469067pt;}
.y39{bottom:208.139600pt;}
.y27{bottom:220.801067pt;}
.y26{bottom:234.133067pt;}
.y38{bottom:234.803600pt;}
.y25{bottom:247.465067pt;}
.y37{bottom:248.135600pt;}
.y24{bottom:260.797067pt;}
.y36{bottom:261.467600pt;}
.y58{bottom:265.444667pt;}
.y23{bottom:274.129067pt;}
.y22{bottom:287.461067pt;}
.y35{bottom:288.131600pt;}
.y21{bottom:300.793067pt;}
.y34{bottom:301.463600pt;}
.y20{bottom:314.125067pt;}
.y33{bottom:314.795600pt;}
.y1f{bottom:327.457067pt;}
.y32{bottom:328.127600pt;}
.y1e{bottom:340.789067pt;}
.y1d{bottom:354.121067pt;}
.y31{bottom:354.794267pt;}
.y1c{bottom:367.453067pt;}
.y30{bottom:373.460933pt;}
.y5{bottom:390.291067pt;}
.y45{bottom:407.034533pt;}
.y6{bottom:448.942667pt;}
.y2f{bottom:457.244800pt;}
.y10{bottom:493.855467pt;}
.y4b{bottom:515.405333pt;}
.yf{bottom:516.522133pt;}
.ye{bottom:539.188800pt;}
.yd{bottom:561.855467pt;}
.yc{bottom:584.522133pt;}
.y11{bottom:619.028800pt;}
.y53{bottom:640.766667pt;}
.y18{bottom:671.708267pt;}
.y2d{bottom:688.037733pt;}
.y17{bottom:694.374933pt;}
.y56{bottom:712.367288pt;}
.y16{bottom:717.041600pt;}
.y2e{bottom:730.782533pt;}
.y15{bottom:739.708267pt;}
.y55{bottom:761.267196pt;}
.y14{bottom:762.374933pt;}
.y13{bottom:785.041600pt;}
.y12{bottom:807.708267pt;}
.y54{bottom:809.444000pt;}
.y1a{bottom:831.002667pt;}
.y19{bottom:839.761600pt;}
.y52{bottom:863.872400pt;}
.y4a{bottom:891.513067pt;}
.ya{bottom:895.496133pt;}
.y49{bottom:907.513067pt;}
.y48{bottom:923.513067pt;}
.y9{bottom:932.829467pt;}
.y1{bottom:934.882800pt;}
.y47{bottom:939.513067pt;}
.y2c{bottom:952.401733pt;}
.y1b{bottom:954.051467pt;}
.y46{bottom:955.513067pt;}
.y43{bottom:972.513067pt;}
.y44{bottom:975.622400pt;}
.y2a{bottom:1004.193333pt;}
.y57{bottom:1023.819067pt;}
.yb{bottom:1039.770133pt;}
.y3d{bottom:1056.867200pt;}
.y3c{bottom:1077.278000pt;}
.y3e{bottom:1087.221333pt;}
.h6{height:15.102080pt;}
.h1a{height:25.326560pt;}
.h16{height:26.917333pt;}
.h12{height:30.756822pt;}
.ha{height:36.650667pt;}
.h2{height:37.351253pt;}
.hb{height:41.232000pt;}
.h10{height:41.472000pt;}
.he{height:45.240667pt;}
.h4{height:45.813333pt;}
.h9{height:46.080000pt;}
.hd{height:46.217756pt;}
.h1b{height:51.379653pt;}
.h19{height:51.762195pt;}
.hc{height:53.610667pt;}
.h8{height:70.684476pt;}
.h7{height:72.211270pt;}
.h11{height:79.089519pt;}
.hf{height:80.416000pt;}
.h18{height:82.806684pt;}
.h15{height:100.764000pt;}
.h17{height:109.952000pt;}
.h5{height:137.856000pt;}
.h3{height:152.105542pt;}
.h14{height:546.516568pt;}
.h13{height:1046.000000pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w5{width:263.317333pt;}
.w2{width:761.333333pt;}
.w4{width:764.000000pt;}
.w3{width:764.666667pt;}
.w0{width:793.701333pt;}
.w1{width:794.000000pt;}
.x1b{left:-521.893200pt;}
.x16{left:-326.201867pt;}
.x10{left:-139.187733pt;}
.x11{left:-114.501600pt;}
.x0{left:0.000000pt;}
.x23{left:4.386000pt;}
.x24{left:9.202000pt;}
.x26{left:11.451333pt;}
.x25{left:17.723333pt;}
.x17{left:26.246133pt;}
.x1a{left:29.333333pt;}
.x14{left:31.093733pt;}
.x1c{left:36.083333pt;}
.xf{left:43.393200pt;}
.xc{left:50.647200pt;}
.xb{left:53.675733pt;}
.xa{left:55.337200pt;}
.x6{left:117.084667pt;}
.x5{left:197.581333pt;}
.x1d{left:252.147200pt;}
.x15{left:336.269467pt;}
.x22{left:396.836000pt;}
.x28{left:401.109333pt;}
.x27{left:425.776000pt;}
.x1e{left:450.238267pt;}
.x21{left:456.571600pt;}
.x20{left:470.846933pt;}
.x1f{left:488.073600pt;}
.x29{left:512.804667pt;}
.x2a{left:514.378913pt;}
.xe{left:527.296267pt;}
.xd{left:531.960933pt;}
.x19{left:540.328800pt;}
.x2c{left:597.496133pt;}
.x3{left:600.233659pt;}
.x2{left:611.156667pt;}
.x4{left:620.234405pt;}
.x2b{left:624.240933pt;}
.x1{left:703.809200pt;}
.x8{left:718.975067pt;}
.x7{left:738.532667pt;}
.x9{left:743.661200pt;}
.x18{left:747.774933pt;}
.x12{left:749.741067pt;}
.x13{left:754.364933pt;}
}
